:root {
  --basic-text-color: #212121;
  --light-text-color: #757575;
  --bright-text-color: #ffffff;
  --contact-text-color: #999999;

  --item-color: #2196f3;
  --link-color: #757575;
  --hover-active-link-color: #2196f3;

  --second-background: #f5f4fa;
  --dark-background: #2f303a;
  --light-grey-background: #e5e5e5e5;
  --bright-background: #ffffff;
  --photo-border-color: #eeeeee;

  --content-width: 1200px;
  --full-web-width: 1600px;
  --default-letter-spacing: 0.03em;
  --second-line-heigth: 1.71;
  --padding-between-sections: 94px;
  --webstudio-logo-font-size: 26px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--basic-text-color);
  background-color: var(--bright-background);
  letter-spacing:var(--default-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* space between sections - main page view */
.section {
  padding-top: var(--padding-between-sections);
  padding-bottom: var(--padding-between-sections);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

/* main page content container */
.container {
  width: var(--content-width);
  margin: 0 auto;
  padding: 0 15px;
}

.inline {
  display: flex;
  align-items: center;
}

/* main header on top of the page with menu */
.header-wrapper {
  border-bottom: 1px solid var(--light-grey-background);
}

.top-menu {
  display: flex;
  gap: 50px;
}

.right-corner  {
  margin-left: auto;
}

.top-menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--basic-text-color);
  padding: 32px 0;
  display: block;
}

.top-menu-link:hover,
.top-menu-link:active {
  color: var(--hover-active-link-color);
}

/* header and footer main page logo format */
.webstudio {
  margin-right: 93px;
  font-family: "Raleway";
  font-size: var(--webstudio-logo-font-size);
  font-weight: 700;
  color: var(--hover-active-link-color);
  line-height: 1.19;
}

/* main page logo placed in header and footer - dark version */
.studio-dark {
  color: var(--basic-text-color);
}

/* main page logo placed in header and footer - white version */
.studio-white {
  color: var(--bright-text-color);
}

.contact {
  color: var(--contact-text-color);
  line-height: var(--second-line-heigth);
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:active {
  color: var(--hover-active-link-color);
}

.order-service-wrapper {
  background-color: var(--dark-background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-bright-text {
  color: var(--bright-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

/* button on main page for ordering service */
.service-order-button {
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--item-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--bright-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.padding-top-off  {
  padding-top: 0;
}

.row-wrapper {
  display: flex;
  gap: 30px;
}

.column-header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.column-text {
  color: var(--light-text-color);
  line-height: var(--second-line-heigth);
}

/* Team Members presentation section */
.tm-photo {
  width: 270px;
}

.tm-text-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--bright-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.tm-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--basic-text-color);
  margin-bottom: 10px;
}

.tm-description {
  font-size: 16px;
  line-height: 1.18;
}

.grey {
  background-color: var(--second-background);
}

.gallery-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.gallery-menu-button {
  background-color: var(--second-background);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  letter-spacing: 00.03em;
}

.gallery-menu-button:hover,
.gallery-menu-button:active {
  background-color: var(--item-color);
  color: var(--bright-text-color)
}

/* margin used to push header from rest of content in container */
.margin-bottom {
  margin-bottom: 50px;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-photo {
  width: 370px;
}

.card-text-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid var(--photo-border-color);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--basic-text-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px
}

.card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-text-color);
}

/* dark footer description positioning */
.footer-dark-format {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* margin used in footer to move address from logo*/
.address-margin{
  margin-top: 20px;
}

.address-text {
  color: var(--bright-text-color);
  line-height: var(--second-line-heigth);
}

.address:hover,
.address:active {
  color: var(--hover-active-link-color);
}