:root {
  --basic-text-color: #212121;
  --light-text-color: #757575;
  --bright-text-color: #ffffff;
  --contact-text-color: #999999;

  --item-color: #2196f3;
  --link-color: #757575;
  --hover-active-link-color: #2196f3;

  --second-background: #f5f4fa;
  --dark-background: #2f303a;
  --light-grey-background: #e5e5e5e5;
  --bright-background: #ffffff;
  --photo-border-color: #eeeeee;

  --content-width: 1200px;
  --full-web-width: 1600px;
  --default-letter-spacing: 0.03em;
  --second-line-heigth: 1.71;
  --padding-between-sections: 94px;
  --webstudio-logo-font-size: 26px;

}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--basic-text-color);
  background-color: var(--light-grey-background);
  background-color: var(--white);
  text-decoration: none;
  letter-spacing:var(--default-letter-spacing);
  margin: auto;
  width: var(--full-web-width);
}

/* main page content comtainer */
.container {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

/* space between sections - main page view */
.section {
  padding-top: var(--padding-between-sections);
  padding-bottom: var(--padding-between-sections);
}

/* main header on top of the page with menu */
.header-wrapper {
  display: flex;
  border-bottom: 1px solid var(--light-grey-background);
}

/* main navigation menu on top of the page */
.navigation-wrapper {
  display: flex;
  align-items: center;
  width: var(--content-width);
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 25px;
  margin-bottom: 24px;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-grow: 1;
  gap: 50px;
}

.right-corner  {
  justify-content: flex-end;
}

.top-menu-item {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.top-menu-link {
  color: var(--basic-text-color);
  text-decoration: none;
}

.top-menu-link:hover,
.top-menu-link:active {
  color: var(--hover-active-link-color);
}

/* main page logo placed in header and footer */
.web {
  font-family: "Raleway";
  font-size: var(--webstudio-logo-font-size);
  font-weight: 700;
  color: var(--hover-active-link-color);
  line-height: 1.19;
}

/* main page logo placed in header and footer - dark version */
.studio-dark {
  font-family: "Raleway";
  font-size: var(--webstudio-logo-font-size);
  font-weight: 700;
  margin-right: 97px;
}

/* main page logo placed in header and footer - white version */
.studio-white {
  font-family: "Raleway";
  font-size: var(--webstudio-logo-font-size);
  font-weight: 700;
  color: var(--bright-text-color);
  line-height: 1.19;
}

.contact {
  color: var(--contact-text-color);
  line-height: var(--second-line-heigth);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:active {
  color: var(--hover-active-link-color);
}

.order-service-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-background);
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.service-order-text {
  color: var(--bright-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}

/* button on main page for ordering service */
.service-order-button {
  border: none;
  border-radius: 4px;
  background-color: var(--item-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--bright-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-decoration: none;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.four-column-wrapper {
  display: flex;
  justify-content: center;
  gap: calc(10%/3);
}

.three-column-wrapper {
  display: flex;
  justify-content: center;
  gap: calc(7.5%/2);
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.team-members-wrapper {
  display: flex;
  justify-content: center;
  gap: calc(10%/3);
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bright-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--basic-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 30px;
}

.grey {
  background-color: var(--second-background);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  color: var(--light-text-color);
  line-height: var(--second-line-heigth);
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
}

.gallery-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
}

.gallery-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  gap: 30px 30px;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.bottom-border {
  border-bottom: 1px solid var(--photo-border-color);
}

.gallery-photo-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--basic-text-color);
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 0px
}

.gallery-photo-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-text-color);
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.gallery-menu-button {
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 4px;
  background-color: var(--second-background);
  color: var(--basic-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.gallery-menu-button:hover,
.gallery-menu-button:active {
  background-color: var(--item-color);
  color: var(--bright-text-color)
}

.normal-style{
  font-style: normal;
}

/* dark footer description positioning */
.dark-webstudio {
  display: flex;
  align-items: center;
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 200px;
  padding-right: 200px;
}

.address {
  color: var(--bright-text-color);
  line-height: var(--second-line-heigth);
  text-decoration: none;
}

.address:hover,
.address:active {
  color: var(--hover-active-link-color);
}